main .alert{
    width: 300px;
    position: absolute;
    z-index: 999;
    color: black;
    background-color: aliceblue;
    top:50%;
    left:50%;
    margin-left: -150px;
    box-shadow: 5px 5px 4px 50px rgba(0,0,0,0.32);
    

}
a{
    color: rgb(255, 255, 255);

}
body{
    background-color: #409fbb;
}
ul{
    width: 97%;
}
.table{
    border-radius: 1%;
    width: 90%;
    filter: blur(0px);
}
.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding:5px 1%;
    font-size: 13px;

    
}

#moradores{
    margin-left: -130px;
}
#contador{
    background-image: url("../img/wallpe.jpg");
}
#listaCondEmorad{
    background-image: url("../img/reto.jpg");
}
#ultimasAdms{
    background-image: url("../img/reto2.jpg");
}
#tabledashboard{
    background-color: #409fbb9e;
}

.login{
    margin-top: 20vh;
    margin-left: 40vh;
    border-radius: 5%;
}
.logout{
    left: 80vh;
    display: flex;
    position: relative;

}
.infor{
    background: #021326c7;
    color: aliceblue;
}
.qtUsers{
    height: 75%;
    border-radius: 20px;
    width: 45%;
}
.qtRegistros {
    height: 30px;
    border-radius: 20px;
    width: 190px;
}
.pagina{
    border-radius: 20px;
}
